body {
    background-color:black;
    padding: 10px;
    color: #F7DCB9;
    font-family:cursive;
}

#pfp {
    display: flex;
    justify-content:center;
}
#pfp img {
    width: 200px;
}

h1 {
    font-weight: bold;
    text-decoration-line: underline;
    text-align: center;
 }

 a {
    color: #B5C18E;
 }
 @media (max-width: 600px) {
    #pfp img {
        width: 80%;
    }
    
 }
#pfp {
    background-color: #914F1E;
}