body {
    background-color: #C5705D;
    border: 1px solid aliceblue;
    padding: 10px;
    color: #F8EDE3;
}

#pfp {
    display: flex;
    justify-content:center;
}

#pfp img {
    width: 400px;
}
h1 {
    font-weight: bold;
    text-decoration-line: underline;
    text-align: center;
 }

 a {
    color: #D0B8A8;
 }