body {
    background-color: black;
    color: aliceblue;
    font-size: 200%;
    border: 1px solid aliceblue;
}
img {
    width: 400px;
}
h1 {
    font-weight: bold;
    text-decoration-line: underline;
 }